.sidebar{
    position: fixed;
    color: rgb(28, 118, 197);
    left: 0;
    top: 60px;
    bottom: 0;
    width: 80px;
    border-color: rgb(11, 102, 182);
    background-color: rgb(255, 255, 255);
}

.hover-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 65px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.hover-icon:hover{
    background-color: rgb(235, 235, 235);
}
.hover-icon img{
    width: 25px;
    margin-bottom: 8px;
}

.hover-icon p {
    font-size: 9px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: black;
}